.logo {
    width: 500px;
    max-width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    display: block;
}

.background {
    width: 100%;
    height: auto;
    margin: 40px auto;
}

.main {
    max-width: 800px;
    background-color: white;
    padding: 0;
}

.text {
    padding: 20px 50px;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}
